body {
  font-family: "Didact Gothic", sans-serif;
  font-size: 13px;
  background-color: #fff;
  overflow: hidden scroll;
}

* {
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  border-radius: 0 !important;
}

*:focus {
  outline: none;
}

a {
  color: inherit;
  transition: color 0.5s;
}

* > a:hover {
  color: #333;
}

label {
  display: block;
  text-transform: uppercase;
  word-spacing: 0.0015rem;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 15px;
}

button {
  border-radius: 0 !important;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h2 {
  font-size: inherit;
}

.header-wrapper {
  background: #d45649;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  max-width: 1320px;
  margin: 0 auto;
}

.logo {
  font-size: 20px;
  position: relative;
}

.hor-offset {
  position: absolute;
  transform: rotate(90deg);
  left: 5px;
  font-size: 18px;
  top: 3px;
}

.hdr-lg-font {
  font-size: 18px;
}

.p-t-main {
  padding-top: 0;
}

/* -----------Index search area ------------- */

.hero {
  max-width: 1320px;
  margin: 0 auto;
  padding: 150px 0 60px;
  text-align: center;
  background: #000;
  background:
    linear-gradient(
      360deg,
      #d45649,
      rgba(0, 0, 0, 0.8) 3%,
      rgba(0, 0, 0, 0.5) 60%,
      rgba(0, 0, 0, 0.2) 90%
    ),
    url(./images/hero-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  font-size: 28px;
  text-align: left;
  width: 55%;
  margin: 0 auto 10px;
  color: #fff;
  font-weight: bolder;
}

.search-area {
  width: 55%;
  margin: 0 auto 30px;
  padding: 40px 60px 30px 30px;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: left;
  border-radius: 8px;
}

form {
  position: relative;
}

label[for="search-box"] {
  color: #fff;
}

#search-box {
  width: 87%;
  line-height: 33px;
  padding-left: 15px;
  font-size: 14px;
}

.btn {
  background-color: #d45649;
  position: absolute;
  top: 22px;
  right: 0;
  font-weight: 700;
  color: #fff;
  font-size: 13px;
  padding: 7px 20px;
}

.toggle {
  background-color: #cac3c1;
  font-weight: 700;
  padding: 12px 8px;
  font-size: 12px;
}

/* -----------step------------- */
.steps {
  margin-top: 5rem;
  text-align: center;
}

.steps-title {
  font-size: 1.5rem;
  color: #d45649;
}

.steps-wrapper {
  margin-top: 5rem;
}

.steps-icon {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.card {
  padding: 0 80px;
  border: 0;
  margin-bottom: 4rem;
}

/* -----------why block -------------- */
.why-block {
  font-size: small;
  max-width: 1320px;
  margin: 0 auto;
}

.margin-zero-x {
  margin-left: 0;
  margin-right: 0;
}

.certified {
  background-color: #e27f66;
}

.save-time {
  background-color: #98a5a6;
}

.convenience {
  background-color: #519cd8;
}

.small-title {
  font-size: 14px;
  font-weight: 800;
}

.small-text {
  margin-bottom: 30px;
}

.gen-btn {
  background: #fff;
  font-weight: 700;
  padding: 6px;
}

.btn-1 {
  color: #e27f66;
}

.btn-2 {
  color: #98a5a6;
}

.block-wrapper {
  padding: 80px 50px 40px 60px;
}

.img-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 60px;
}

.block-img {
  border-radius: 50%;
  width: 50%;
}

.fa-map-marker-alt {
  font-size: 1rem;
}

/* -----------Footer------------- */
.page-footer {
  background-color: #000;
  color: #fff;
  max-width: 1320px;
  margin: 0 auto;
}

.footer-nav {
  padding: 15px 50px 0;
}

.fa-map-marker {
  font-size: 18px;
  position: relative;
  transform: scale(1.5, 2);
  top: 8px;
}

.logo-wrapper {
  background-color: #000;
  color: #fff;
  position: relative;
  top: -18px;
  left: -1.2px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 10px;
  text-align: center;
}

.hor-offset-f {
  font-size: 10px;
  transform: rotate(90deg);
  position: absolute;
  left: 6px;
}

.footer-nav-1 {
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid #464646;
  border-bottom: 1px solid #464646;
}

.logo-container-f {
  border: 1px solid #464646;
  border-radius: 50%;
  padding: 0 10px;
  position: absolute;
  z-index: 10;
  background-color: #000;
}

.connect-title {
  font-size: 15px;
}

.p-x-50px {
  padding: 0 50px;
}

.spec-font {
  color: #d45649;
  font-weight: 700;
}

.btn2 {
  background-color: #464646;
  font-size: 11px;
  padding: 4px 18px;
  position: relative;
  left: -3px;
  top: -1px;
}

.footer-input {
  background: #000;
  border: 1px solid #464646;
  color: #fff;
}

.copyright {
  background-color: #464646;
  width: 100%;
  padding: 12px 20px;
  color: grey;
}

.social-item {
  margin-right: 0.5rem;
}

/* -----------Search results---------------- */
.filter-wrapper {
  padding: 40px 40px 60px;
  background-color: #eee;
  text-align: center;
  max-width: 1320px;
  margin: 6em auto 0;
}

.filter-title {
  font-size: 1.3rem;
  color: #666;
}

.search-font {
  font-size: 13px;
  text-align: left;
}

#quantity {
  border: 1px solid lightgray;
  margin-right: 5px;
}

.form-style {
  border: 1px solid lightgray;
  margin-right: 5px;
}

.filter-btns {
  position: relative;
  top: 10px;
  left: 0;
  padding: 3px 12px;
  color: #fff;
  font-weight: 700;
}

.search-btn {
  background-color: #457eb4;
}

.filter-clr {
  background-color: #e5ab5b;
}

/* ------------search results ----------------- */
.search-results {
  text-align: center;
  padding: 40px 30px;
  max-width: 1320px;
  margin: 0 auto;
}

.results-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.hw-logo {
  width: 64px;
}

.details-link {
  padding: 3px 9px;
  color: #d45649;
  font-weight: 700;
  background-color: #fff;
  margin-top: 12px;
  box-shadow: 0 7px #a11b0d;
  transition: all 0.5s;
}

.details-link:hover {
  position: relative;
  top: 7px;
  box-shadow: none;
  color: #d45649;
  text-decoration: none;
}

.result-card {
  background-color: #d95f4c;
  padding: 20px;
  font-weight: 700;
}

.hw-name {
  font-size: 1rem;
  transition: color 0.5s;
}

.hw-name:hover {
  color: #fff;
}

.brand-hw {
  position: relative;
}

.open {
  position: absolute;
  background-color: #d45649;
  width: 100px;
  border-radius: 5px;
  color: #fff;
  top: 0;
  left: 0;
  transform: rotate(-30deg);
}

@media (min-width: 1024px) {
  .logo-lg {
    width: 300px;
  }

  .store-title {
    font-size: 2.8rem;
  }

  .about-hw {
    width: 60%;
  }

  .block-img {
    height: 90%;
  }
}

@media (max-width: 1023px) {
  .logo-lg {
    width: 200px;
  }

  .about-hw {
    width: 80%;
  }

  .block-img {
    height: 80%;
  }
}

@media (max-width: 991px) {
  .block-img {
    height: 70%;
  }
}

@media (min-width: 768px) {
  .logo-container-f {
    left: 48%;
    top: 0;
  }
}

@media (max-width: 767px) {
  .max-width,
  #quality {
    width: 147px;
  }

  .brk-point {
    display: none;
  }

  .brk-font {
    font-size: 1.1rem;
  }

  .search-area {
    padding: 30px;
  }

  .block-img {
    height: 40%;
  }

  .result-card {
    margin-bottom: 16px;
  }

  .logo-lg {
    width: 100px;
  }

  .logo-container-f {
    left: 45%;
    top: 70px;
  }

  form[action="./results.html"] {
    display: flex;
    flex-direction: column;
  }

  .hero-title {
    text-align: center;
  }

  #search-box {
    display: block;
    width: 100%;
    margin-bottom: 8px;
  }

  label[for="search-box"] {
    margin-bottom: 8px;
  }

  .btn {
    display: block !important;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .block-wrapper {
    padding: 80px 5px 40px 60px;
  }

  .mapouter,
  .small-screen {
    display: none;
  }
}

@media (max-width: 575px) {
  .img-block {
    display: none;
  }

  .block-wrapper {
    padding-right: 60px;
  }
}

@media (min-width: 425px) {
  .store-title {
    font-size: 2rem;
  }

  .large-screen {
    display: none;
  }
}

@media (max-width: 424px) {
  .header-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .brand,
  .small-nav {
    justify-content: center !important;
  }

  .store-title {
    font-size: 1.5rem;
  }

  .about-hw {
    width: 100%;
  }
}

/* ------------------details------------------- */
.hardware-store {
  padding-top: 50px;
  max-width: 1320px;
  margin: 6rem auto 0;
}

.about-hw {
  background-color: #eee;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.store-title {
  margin-left: 30px;
  color: #d45649;
  font-weight: 700;
}

.hw-contact {
  margin-top: 2em;
}

.hw-link,
.fa-link,
.fa-envelope-square,
.fa-phone-square-alt {
  color: #d45649;
  transition: color 0.5s;
}

.hw-link:hover {
  color: #d45649;
  font-weight: 700;
}

.strong-font {
  color: #000;
}

.mapouter {
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto;
  text-align: center;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
}

.material {
  max-width: 1170px;
  margin: 3rem auto;
}

.quotation {
  margin-bottom: 2rem;
}

#curr,
#qty {
  width: 200px;
  border: 1px solid lightgray;
}

.get-btn {
  padding: 8px 24px;
  background-color: #d45649;
  color: #fff;
  opacity: 0.8;
}

.hima-img,
.tororo-img {
  width: 150px;
  margin-top: -2rem;
}
